.THIS .orangeColor{
    background-color:whitesmoke;
    cursor: pointer;
}

.THIS .clearColor{
    background-color:white;
}
.THIS .DataHeroe{
    font-size: 10px;
}
.THIS .ButtonMenuAlign{
    text-align: right;
}